@import "tailwindcss";

:root {
  --background: var(--color-slate-200);
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.item-border {
  @apply border rounded-lg bg-white border-slate-200 focus:border-slate-400 hover:border-slate-300;
}

.selected-switch {
  @apply bg-slate-700 text-slate-50;
}