@import "tailwindcss";

@theme inline {
  --color-primary: #4b4fac;
  --color-background: #e7f4fd;
  --color-button: #64bbf7;
  --color-default: #f9fafb;
}

body {
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-slate-600)
}

.item-border {
  @apply border rounded-lg bg-background border-primary/20 focus:border-primary hover:border-primary/50;
}

.selected-switch {
  @apply bg-primary text-background;
}

.selected-switch svg {
  @apply fill-background;
}